<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skylar.skoolor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skoolor">
        <activity android:name=".ui.ParentFeedback"></activity>
        <activity android:name=".ui.ParentInquiries" />
        <activity android:name=".ui.TeacherResults" />
        <activity android:name=".ui.ParentResults" />
        <activity android:name=".ui.StudentResults" />
        <activity android:name=".ui.StudentAssignments" />
        <activity android:name=".ui.TeacherAnnouncements" />
        <activity android:name=".ui.StudentAnnouncements" />
        <activity android:name=".ui.TeacherBoard" />
        <activity android:name=".ui.StudentBoard" />
        <activity android:name=".ui.ParentBoard" />
        <activity android:name=".ui.ParentMeetings" />
        <activity android:name=".ui.TeacherParent" />
        <activity android:name=".ui.Splash" />
        <activity android:name=".ui.ParentLogin" />
        <activity android:name=".ui.TeacherLogin" />
        <activity android:name=".ui.StudentLogin" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>